@import './colors.scss';
@import './breakpoints.scss';

body {
  margin: 0;
  background: $backgroundBody;
  font-size: 16px;
  padding: 8px;

  @media (min-width: $laptop) {
    padding: 0;
  }
}
.app-layout {
  margin: 0 auto;
  background: $backgroundLayout;
  width: 100%;
  max-width: 980px;
  margin-top: 100px;
}

.cards-container {
  padding: 30px;
}
