@import '../../assets/scss/colors.scss';
@import '../../assets/scss/font.scss';
@import '../../assets/scss/breakpoints.scss';

.card-container {
  width: 100%;
  max-width: 780px;
  margin-bottom: 30px;

  @media (min-width: $laptop) {
    max-width: 280px;
    margin-bottom: 50px;
  }

  img {
    width: 100%;
    max-width: 780px;
    border-radius: 5px;
    object-fit: cover;
    height: 250px;

    @media (min-width: $laptop) {
      height: 200px;
    }
  }

  h3 {
    font-size: 1.28em;
    font-weight: 300;
    margin: 5px 0;
  }
}
