@import '../../assets/scss/colors.scss';
@import '../../assets/scss/font.scss';

.search-bar-container {
  display: flex;
  align-items: center;
  color: $secundary;
  padding: 10px 0px;
  width: 100%;
  border-bottom: 1px solid $line;

  svg {
    margin-left: 30px;
  }

  input {
    margin-left: 8px;
    border: none;
    padding: 8px;
    font-size: 0.8em;

    &:focus {
      outline: none;
    }
    &:placeholder {
      font-weight: bold;
    }
  }
}
