@import '../../assets/scss/colors.scss';
@import '../../assets/scss/font.scss';

.postDateContainer {
  display: flex;
  align-items: center;
  color: $secundary;
  font-weight: 400;
  margin-bottom: 0.8em;

  span {
    text-transform: uppercase;

    &:nth-child(2) {
      &:before {
        display: inline-block;
        content: '|';
        margin: 0px 5px;
      }
    }
  }
}
